<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897933754185-9mddd3uadp84c8fqbttpksgvuig58hkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897933754185-9mddd3uadp84c8fqbttpksgvuig58hkm</string>
	<key>API_KEY</key>
	<string>AIzaSyClycpXUpQpnnY77lCeUD5PRd-62o0bCqA</string>
	<key>GCM_SENDER_ID</key>
	<string>897933754185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-eb7b8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-eb7b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897933754185:ios:e9fcf72a978edf31432498</string>
</dict>
</plist>